@use './variables' as *;

@mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin icon-styles {
  color: $primary-text;
  font-size: 2rem;
  color: $primary-text;

  @include tablet {
    font-size: 2.5rem;
  }

  transition: ease 0.5s all;
  cursor: pointer;
  &:hover {
    // font-size: 4rem;
    transform: scale(1.5);
    
  }
}

@mixin skills-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@mixin input-fields {

    background: transparent;
    
   
    border: none;
    border-bottom: 1px solid  $primary-background;
    transition: all 0.2s;

    &::placeholder {
      color: rgb(42, 37, 37);
    }

    &:hover {
      // outline: $primary-background solid 1px;
      background-color: rgb(248, 243, 237);
      // border-bottom: 1px solid  rgb(248, 243, 237);
      // border: none;
      
  }

  &:focus {
    // transition: all 0.2s;
      // border: none;
      // outline: rgb(248, 243, 237) solid 2px;
      background-color: rgb(248, 243, 237);
      // border-bottom: 1px solid  rgb(248, 243, 237);
      outline: none;
  }

}

@mixin text-bliking {

  @-webkit-keyframes blinking {
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
  }

}

@mixin text-shine-tablet {
  @keyframes shine {
    0% {
      background-position: 0;
    }

    // 20% {
    //   background-position: 100px;
    // }
    // 40% {
    //   background-position: 200px
    // }
    // 60% {
    //   background-position: 300px
    // }
    // 80% {
    //   background-position: 400px
    // }

    100% {
      background-position: 500px;
    }
  }

}

@mixin text-shine-mobile {
  @keyframes shine-mobile {
    0% {
      background-position: 0px;
    }
    // 100% {
    //   background-position: 600px;
    // }
    100% {
      background-position: 420px;
    }
  }

  
}
@mixin wave-animation {

  @keyframes wave {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }
}