// colors
$primary-background: rgb(5, 65, 72);
$secondary-text: rgb(5, 65, 72);
$primary-text: #fff;
$intro-title:  rgb(247, 247, 178);
$secondary-background: rgb(255, 255, 255);
$background-third: #f0f0f0;

$brainFlix-Black: #323232;
$brainFlix-DarkBlack: #000000;
$silver: #AFAFAF;
$white: #ffffff;
$mercury: #E1E1E1;
$albaster: #FAFAFA;
$brainFlix-blue: #0095FF;
$brainFlix-DarkBlue: #0065AD;

// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;

