.contact {
  background: linear-gradient(rgba(186, 186, 186, 0.96), rgba(188, 187, 187, 0.96)), url(/src/assets/images/contactBg.webp);
  padding: 6rem 1rem 1rem 1rem;
  padding: 10rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.contact__header {
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
  color: rgb(16, 29, 66);
  width: 100%;
  background-color: floralwhite;
  padding: 1rem 2rem;
  border-radius: 5rem;
}
@media (min-width: 768px) {
  .contact__header {
    font-size: 2rem;
  }
}
@media (min-width: 900px) {
  .contact__header {
    margin-bottom: 2rem;
    width: 55rem;
  }
}
.contact__sub-header {
  padding: 1rem 2rem;
  color: rgba(16, 29, 66, 0.95);
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
  background-color: floralwhite;
  border-radius: 5rem;
}
@media (min-width: 768px) {
  .contact__sub-header {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 768px) {
  .contact {
    padding: 10rem 2rem 2rem 2rem;
  }
}
@media (min-width: 1280px) {
  .contact {
    padding: 10rem 6rem 6rem 6rem;
  }
}
.contact__divider {
  padding: 2rem 0rem;
  color: rgb(16, 29, 66);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: floralwhite;
}
@media (min-width: 768px) {
  .contact__divider {
    flex-direction: row;
  }
}
.contact__me {
  padding: 2rem 2rem 0rem 2rem;
  width: 100%;
  color: #fff;
  font-weight: bold;
}
@media (min-width: 768px) {
  .contact__me {
    padding: 0rem 2rem 0rem 2rem;
    width: 50%;
  }
}
.contact__me__divider {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .contact__me__divider {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
    padding: 0.5rem 0rem;
  }
}
.contact__info-link {
  color: rgb(16, 29, 66);
  text-decoration: none;
  word-break: break-all;
}
.contact__info-link:hover {
  transform: scale(1.15);
}
.contact__details {
  color: rgb(16, 29, 66);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact__details-info {
  display: flex;
  gap: 1rem;
  width: 9.75rem;
  align-items: center;
}
.contact__details-info:hover {
  cursor: pointer;
  color: rgb(16, 29, 66);
}
.contact__details-info:hover svg {
  transform: scale(1.5);
  transition: all 0.5s;
}
.contact__info--hidden {
  visibility: hidden;
}

.form {
  padding: 0rem 1rem 2rem 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
@media (min-width: 768px) {
  .form {
    padding: 0rem 2rem 0rem 2rem;
    width: 95%;
  }
}
.form__submitted {
  color: rgb(160, 232, 140);
}
.form__submitted--hidden {
  display: none;
}
.form__contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form__contact--button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form__contact-error {
  visibility: hidden;
}
.form__contact-error--visible {
  color: rgb(186, 48, 48);
}
.form__contact-email {
  border: rgba(16, 29, 66, 0.95) solid 1px;
  border-radius: 0.25rem;
  padding: 1rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(16, 29, 66, 0.95);
  transition: all 0.2s;
}
.form__contact-email::-moz-placeholder {
  color: rgb(42, 37, 37);
}
.form__contact-email::placeholder {
  color: rgb(42, 37, 37);
}
.form__contact-email:hover {
  background-color: rgb(248, 243, 237);
}
.form__contact-email:focus {
  background-color: rgb(248, 243, 237);
  outline: none;
}
.form__contact-message {
  border: rgba(16, 29, 66, 0.95) solid 1px;
  resize: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  height: 10rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(16, 29, 66, 0.95);
  transition: all 0.2s;
}
.form__contact-message::-moz-placeholder {
  color: rgb(42, 37, 37);
}
.form__contact-message::placeholder {
  color: rgb(42, 37, 37);
}
.form__contact-message:hover {
  background-color: rgb(248, 243, 237);
}
.form__contact-message:focus {
  background-color: rgb(248, 243, 237);
  outline: none;
}
@media (min-width: 768px) {
  .form__contact-message {
    height: 8rem;
  }
}
.form__contact-name {
  border: rgba(16, 29, 66, 0.95) solid 1px;
  border-radius: 0.25rem;
  padding: 1rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(16, 29, 66, 0.95);
  transition: all 0.2s;
}
.form__contact-name::-moz-placeholder {
  color: rgb(42, 37, 37);
}
.form__contact-name::placeholder {
  color: rgb(42, 37, 37);
}
.form__contact-name:hover {
  background-color: rgb(248, 243, 237);
}
.form__contact-name:focus {
  background-color: rgb(248, 243, 237);
  outline: none;
}
.form__contact-button {
  border-radius: 0.5rem;
  width: 10rem;
  padding: 0.75rem 0rem;
  cursor: pointer;
  color: #fff;
  background-color: rgba(16, 29, 66, 0.95);
  border: none;
  border-bottom: #fff 1px solid;
  border-right: #fff 1px solid;
  box-shadow: 2px 2px #888888;
  transition: transform 0.5s;
}
.form__contact-button:hover {
  transform: scale(1.15);
}
.form__border {
  padding: 0rem 1.5rem;
}
.form__border--inner {
  border-top: rgba(16, 29, 66, 0.95) solid 1px;
}
@media (min-width: 768px) {
  .form__border {
    padding: 0rem;
    border: none;
    border-right: rgba(16, 29, 66, 0.95) solid 1px;
  }
}/*# sourceMappingURL=Contact.css.map */