.contact {
  padding: 10rem 1rem 4rem 1rem;
  width: 100%;
  gap: 2rem;
}
.contact__header {
  font-size: 1rem;
  color: rgb(5, 65, 72);
  width: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .contact {
    padding: 10rem 4rem 6rem 4rem;
  }
}
.contact__divider {
  padding: 2rem 0rem;
  background: rgba(5, 65, 72, 0.6);
  color: rgb(5, 65, 72);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .contact__divider {
    flex-direction: row;
  }
}
.contact__me {
  padding: 2rem 2rem 0rem 2rem;
  width: 100%;
  color: #fff;
  font-weight: bold;
}
@media (min-width: 768px) {
  .contact__me {
    width: 50%;
  }
}
.contact__me__divider {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .contact__me__divider {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
.contact__info-link {
  color: white;
  text-decoration: none;
  word-break: break-all;
}
.contact__info-link:hover {
  transform: scale(1.15);
}
.contact__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact__details-info {
  display: flex;
  gap: 1rem;
  width: 9.75rem;
  align-items: center;
}
.contact__details-info:hover {
  cursor: pointer;
  color: rgb(5, 65, 72);
}
.contact__details-info:hover svg {
  transform: scale(1.5);
  transition: all 0.5s;
}
.contact__info--hidden {
  visibility: hidden;
}

.form {
  padding: 0rem 2rem 2rem 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
@media (min-width: 768px) {
  .form {
    padding: 0rem 2rem 0rem 2rem;
    width: 95%;
  }
}
.form__submitted {
  color: rgb(24, 112, 24);
}
.form__submitted--hidden {
  display: none;
}
.form__contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form__contact--button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form__contact-error {
  visibility: hidden;
}
.form__contact-error--visible {
  color: rgb(186, 48, 48);
}
.form__contact-email {
  border: rgb(5, 65, 72) solid 1px;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.form__contact-message {
  border: rgb(5, 65, 72) solid 1px;
  resize: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  height: 10rem;
}
@media (min-width: 768px) {
  .form__contact-message {
    height: 8rem;
  }
}
.form__contact-name {
  border: rgb(5, 65, 72) solid 1px;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.form__contact-name:focus {
  border: none;
  outline: rgb(5, 65, 72) solid 2px;
}
.form__contact-button {
  border-radius: 0.5rem;
  width: 10rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
  color: #fff;
  background-color: rgb(5, 65, 72);
  border: none;
  border-bottom: #fff 1px solid;
  border-right: #fff 1px solid;
  box-shadow: 2px 2px #888888;
  transition: transform 0.5s;
}
.form__contact-button:hover {
  transform: scale(1.15);
}
.form__border {
  padding: 0rem 2rem;
}
.form__border--inner {
  border-top: rgb(5, 65, 72) solid 1px;
}
@media (min-width: 768px) {
  .form__border {
    padding: 0rem;
    border: none;
    border-right: rgb(5, 65, 72) solid 1px;
  }
}/*# sourceMappingURL=Contact.css.map */