@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.contact {

    background: linear-gradient(rgba(186, 186, 186, 0.96), rgba(188, 187, 187, 0.96)), url(/src/assets/images/contactBg.webp);
    
    padding: 6rem 1rem 1rem 1rem;
    padding: 10rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
  
    &__header {
        font-size: 1.25rem;
        font-family: sans-serif;
        font-weight: 900;
        text-align: center;
        color: $secondary-text;
        width: 100%;
        background-color: floralwhite;
        padding: 1rem 2rem;
        border-radius: 5rem;

        @include tablet {
            font-size: 2rem; 
        }

        @media (min-width: 900px) {
            margin-bottom: 2rem;

            width: 55rem;
        }
    }

    &__sub-header {
        padding: 1rem 2rem;
        color: rgba(16, 29, 66, 0.95);
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
        background-color: floralwhite;
        border-radius: 5rem;

        @include tablet {
            font-size: 1.5rem;
            margin-bottom: 2.5rem;
        }
    }

    @include tablet {
        // background: linear-gradient(rgba(248, 243, 243, 0.97), rgba(255,255,255,0.97)), url("../../assets/images/contactBg.webp") ;   
        padding: 10rem 2rem 2rem 2rem;
        
    }

    @include desktop {
        padding: 10rem 6rem 6rem 6rem;
    }

    &__divider {
        padding: 2rem 0rem;
        
        color: $secondary-text;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        // border: $primary-background 1px solid;
        background-color: floralwhite;
        @include tablet {
            flex-direction: row;
        }

    }

    &__me {

        padding: 2rem 2rem 0rem 2rem;
        width: 100%;
        color: $primary-text;
        font-weight: bold;

        @include tablet {
            padding: 0rem 2rem 0rem 2rem;
            width: 50%;
        }

        &__divider {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include tablet {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                justify-content: space-between;
                padding: 0.5rem 0rem;
            }
        }
        
    }

    &__info-link {
        color: $secondary-text;
        text-decoration: none;
        word-break: break-all;
        
        &:hover {
            transform: scale(1.15);
        }
    }

    &__details {
        color: $secondary-text;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__details-info {
        display: flex;
        gap: 1rem;
        width: 9.75rem;
        align-items: center;
   
        &:hover {
            cursor: pointer;
            color: $secondary-text;

            svg {
                transform: scale(1.5);
                transition: all 0.5s;
            }
           
        }
    }

    &__info--hidden {
        visibility: hidden;
    }

}

.form {


    padding: 0rem 1rem 2rem 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    @include tablet {
        padding: 0rem 2rem 0rem 2rem;
        width: 95%;
    }

    @include desktop {
    }

    &__submitted {
        color: rgb(160, 232, 140);
    }

    &__submitted--hidden {
        display: none;
    }

    &__contact {
     
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &--button {
            display: flex;
            justify-content: center;
            width: 100%;
        }

    }

    &__contact-error {
        visibility: hidden;

    }
    &__contact-error--visible {
        color: rgb(186, 48, 48);
    }

    &__contact-email {
     
        border: $primary-background solid 1px;
        border-radius: 0.25rem;
        padding: 1rem;
        @include input-fields;
    }

    &__contact-message {
        border: $primary-background solid 1px;
        resize: none;
        border-radius: 0.25rem;
        padding: 0.5rem;
        height: 10rem;
        @include input-fields;

        @include tablet {
            height: 8rem;
        }
    }

    &__contact-name {
        border: $primary-background solid 1px;
        border-radius: 0.25rem;
        padding: 1rem;
        
        @include input-fields;
    }

    &__contact-button {
        border-radius: 0.5rem;
        width: 10rem;
        padding: 0.75rem 0rem;
        cursor: pointer;
        color: $primary-text;
        background-color: $primary-background;
        border: none;
        border-bottom: $primary-text 1px solid;
        border-right: $primary-text 1px solid;
        box-shadow: 2px 2px #888888;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.15);
        }
    }

    &__border {

        padding: 0rem 1.5rem;
        &--inner {

            border-top: $primary-background solid 1px;
        }

        @include tablet {
            padding: 0rem;
            border: none;
            border-right: $primary-background solid 1px;
        }
    }
    
}

