@keyframes move-sideways {
  from {
    background-size: cover;
    background-position: 0%;
  }
  to {
    background-size: cover;
    background-position: 90000%;
  }
}
@keyframes slideSkills {
  0% {
    transform: translate3d(0px, 0, 0);
  }
  100% {
    transform: translate3d(-650px, 0, 0);
  }
}
.skills {
  background: linear-gradient(rgba(239, 243, 247, 0.7), rgba(247, 249, 250, 0.7)), url("../../assets/images/skills_bg.avif");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 4rem 6rem 4rem;
  gap: 2.5rem;
  background-repeat: repeat-x;
  animation: move-sideways 15000s infinite linear;
}
@media (min-width: 768px) {
  .skills {
    padding: 8rem 8rem 11rem 8rem;
  }
}
@media (min-width: 1280px) {
  .skills {
    padding: 10rem 10rem 13rem 10rem;
  }
}
.skills__back {
  margin-top: 4rem;
  text-decoration: none;
  color: rgba(16, 29, 66, 0.95);
}
.skills__back:hover {
  color: #e06666;
}
@media (min-width: 768px) {
  .skills__back {
    margin-top: 0;
  }
}
.skills__modal--open {
  background: linear-gradient(rgba(119, 117, 117, 0.9), rgba(119, 117, 117, 0.9)), url("../../assets/images/skills_bg.avif");
}
.skills__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 450px) {
  .skills__list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .skills__list {
    overflow: hidden;
  }
}
.skills__value {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  display: flex;
  gap: 0.25rem;
  color: rgb(16, 29, 66);
  font-size: 1rem;
  text-align: center;
}
.skills__value:hover {
  color: rgb(227, 134, 134);
  cursor: pointer;
}
@media (min-width: 768px) {
  .skills__value {
    font-size: 1.25rem;
  }
}
.skills__value--inactive {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  display: flex;
  gap: 0.25rem;
  color: rgb(16, 29, 66);
  font-size: 1rem;
  text-align: center;
  cursor: default;
}
@media (min-width: 768px) {
  .skills__value--inactive {
    font-size: 1.25rem;
  }
}
.skills__name--inactive {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  gap: 0.25rem;
  cursor: default;
}
@media (min-width: 768px) {
  .skills__name--inactive {
    font-size: 1.25rem;
  }
}
.skills__icon--backEnd {
  font-size: 1.5rem;
}
.skills__heading {
  font-size: 2rem;
  color: rgb(16, 29, 66);
  font-style: none;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .skills__heading {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .skills__heading {
    font-size: 5rem;
  }
}
.skills__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .skills__details {
    gap: 4rem;
  }
}
.skills__chart {
  width: 12.5rem;
  height: 12.5rem;
}
@media (min-width: 768px) {
  .skills__chart {
    width: 19.875rem;
    height: 19.875rem;
  }
}
@media (min-width: 1280px) {
  .skills__chart {
    width: 25.25rem;
    height: 25.25rem;
  }
}
.skills__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  border-radius: 3.25rem;
  gap: 2rem;
  transition: all 0.75s;
  background-color: rgba(229, 233, 243, 0.4);
}
.skills__info:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px rgba(8, 19, 49, 0.5);
}
.skills__title {
  color: rgb(16, 29, 66);
  text-align: center;
  font-size: 1.25rem;
  line-break: loose;
}
@media (min-width: 768px) {
  .skills__title {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=Skills.css.map */