
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;


.main__content {
    padding: 4rem;
}

.main {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: $primary-background;
    padding: 10rem 1.5rem 4rem 1.5rem;

    @include tablet {
        padding: 10rem;
    }

    @include tablet {
        // padding: 8rem;
    }

    &__intro {
        // display: flex;
        // justify-content: center;
        width: 100%;
        text-align: center;

        &-title {
            color: $intro-title;

            @include tablet {
                font-size: 4rem;
            }
            @include desktop {
                font-size: 4rem;
            }
        }
    }

    &__info {
        text-align: center;
        width: 70%;
        &-description {
            font-weight: 100;
            color: $primary-text;
            @include tablet {
                font-size: 0.85rem;
            }
            @include tablet {
                font-size: 1.5rem;

            }
        }
    }

    &__icons {

        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;

        svg {
            @include icon-styles;
        }
    }

    
}


.skills {
    background-color: $secondary-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4rem;
    gap: 4rem;

    @include tablet {
        padding: 8rem 8rem 11rem 8rem;
    }
    @include desktop {
        
        padding: 10rem 10rem 13rem 10rem;

    }

    &__heading {
        font-size: 3rem;
        color: $secondary-text;
        font-style: none;
        @include tablet {
            font-size: 4rem;
        }
        @include desktop {
            font-size: 5rem;
        }
    }

    &__details {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
 
        
        @include tablet {
        }
    }

    &__info {
        @include skills-info;
    }

    &__title {
        color: $secondary-text;
        font-size: 2rem;
    }

    &__value {
        color: $secondary-text;
        font-size: 1rem;
        text-align: center;
    }


    

}
