
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;



.main {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    // height: 10rem;
    width: 100%;

    // background: linear-gradient(rgba(10, 10, 10, 0), rgba(6, 6, 6, 0)), url("/src/assets/images/background2.jpg") center/cover;
    background: linear-gradient(rgba(10, 10, 10, 0.45), rgba(6, 6, 6, 0.45)), url("/src/assets/images/background2.jpg") center/cover;

    // background-position:initial;
    aspect-ratio: 16/9;
    background-position: center;
    background-size: cover;
    // object-fit: cover;
    background-repeat: no-repeat;
    
    padding: 3rem 2rem 3rem 2rem;
    
    &__modal--open {
        // background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(6, 6, 6, 0.5)), url("/src/assets/images/background2.jpg") center/cover;
        background: linear-gradient(rgba(10, 10, 10, .75), rgba(6, 6, 6, .75)), url("/src/assets/images/background2.jpg") center/cover;

        // background: linear-gradient(rgba(206, 197, 197, 0.35), rgba(223, 212, 220, 0.35)), url("/src/assets/images/background2.jpg") center/cover;

    }

    @include tablet {
        // background: linear-gradient(rgba(128, 121, 121, 0.25), rgba(189, 169, 182, 0.25)), url("/src/assets/images/background4.jpg") center/cover;

        padding: 10rem 6rem 10rem 6rem;
        justify-content: space-evenly;
        // flex-direction: row;
        height: 45rem;
    }

    @include desktop {
        height: 55rem;
    }


    &__left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__image {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__image-profile {
        width: 50vw;
        height: 50vw;
        border-radius: 0.5rem;
        transition: all 0.5s;
        // filter: grayscale(1);

        &:hover {
            box-shadow: 4px 4px #888888;
        //     filter: grayscale(0);
        }

        @include tablet {
            height: 20rem;
            width: 20rem;
        }

    }

    &__to-skills {
        // font-size: 1rem;
        
        // font-size: min(1rem);
        // font-size: max(3vw);
        animation: blinking 1.5s linear infinite;
        @include text-bliking;
        font-size: 0.75rem;
        cursor: pointer;

        @media screen and (min-width: 350px) {
            // margin-top: 3rem;
            font-size: 1.25rem;

        }

        @include tablet {
            font-size: 1.5rem;
        }

        align-self: flex-end;
        // color: #a55f5f;
        color: $primary-background;

        &:hover {
            // color: $primary-text
            color: white;
        }

      
    }

    &__intro {
        // display: flex;
        // justify-content: center;
        width: 100%;
        text-align: center;
    }

    &__intro-title {
        color: $intro-title;
        font-size: 3.4rem;
        // color: rgb(255 0 69);
        color: white;
        animation: blinking 2s linear infinite;

        @include text-bliking;

        @include tablet {
            font-size: 4rem;
        }
        @include desktop {
            font-size: 5rem;
        }
    }

    &__info {
        text-align: center;
        // width: 70%;

    }

    &__info-about {
        font-weight: 100;
        // color: $primary-text;
        font-size: 0.85rem;
        // color: $primary-background;
        // background: transparent;
        
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        line-height: 1.1rem;
        border: 0.5px $primary-background solid;
        // border: white solid 1.5px;
        // filter: brightness(20%);
        border: none;
        transition: 0.3s all;
        // stroke-dashoffset: -480;
        &:hover {
            cursor: pointer;
            // background-color: darken(transparent, 25%);
            // background-color: #888888;
            // text-underline-offset:initial;
            
            filter: brightness(80%);
            transition: 0.3s all;
        }
        
        @include tablet {
            font-size: 1.5rem;

        }
    }

    &__icons {

        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;

        svg {
            @include icon-styles;
        }
    }

    
}


.skills {
    background-color: $secondary-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 2.5rem;
    // background: url("../../assets/images/background.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;

    @include tablet {
        padding: 8rem 8rem 11rem 8rem;
    }
    @include desktop {
        
        padding: 10rem 10rem 13rem 10rem;

    }

    &__list {

        display: flex;
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        // width: 100%;
        // overflow-y: hidden;
        
        // #box {
            // width: 200px;
            // margin: 0 10px 0;
            // -webkit-animation-name: move;
            // -webkit-animation-duration: 10s;
            // -webkit-animation-iteration-count: infinite;
            // -webkit-animation-direction: up;
            // -webkit-animation-timing-function:linear;
            // margin-top:100%;
        //  }

        @include tablet {
            gap: 1rem;
        }
    }

    &__value {
        padding: 0.5rem 1rem 0.5rem 1rem;
        // background-color: $primary-background;
        background-color: #ddd7d7;;
        border-radius: 0.25rem;
        text-decoration: none;
        
        &:hover {
            color: rgb(227, 134, 134);
            cursor: pointer;
        }
    }

    &__heading {
        font-size: 2rem;
        color: $secondary-text;
        font-style: none;
        margin-top: 4rem;

        @include tablet {
            font-size: 3rem;
        }
        @include desktop {
            font-size: 5rem;
        }
    }

    &__details {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
 
        
        @include tablet {
            gap: 4rem
        }
    }

    &__info {
        @include skills-info;
        // border-top: black solid 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
        border: 0.05px solid black;
        border-radius: 0.25rem;
        gap: 2rem;
        transition: all 0.75s;

        &:hover {
            background-color: rgb(238, 241, 247);
            box-shadow: 4px 4px rgb(183, 186, 184);
        }

    }

    &__title {
        color: $secondary-text;
        text-align: center;
        font-size: 1rem;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__value {
        color: $secondary-text;
        font-size: 0.75rem;
        text-align: center;

        @include tablet {
            font-size: 1.25rem;
        }
    }


    

}
