
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.modal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90vw;
    height: 51rem;
    // height: 60vh;
    background-color: rgb(242, 248, 244);
    // border: red solid 1px;
    overflow-x: scroll;
    z-index: 20;
    position: fixed;
    // top: 200px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    padding: 2rem;
    border-radius: 1rem;

    transition: ease all 0.2s;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__profile-img {
        width: 15rem;
        height: 10rem;
        object-fit: cover;
        aspect-ratio: 16/9;
    }

    &__about {
        color: rgb(227, 134, 134); 
        font-weight: bold; 
        font-size: 0.9rem;
    }
















    &__close {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        // margin-top: 2rem;


    }

    &__close-btn {
        padding: 0.5rem 1rem 0.5rem 1rem;
        width: 10rem;
        border: none;
        color: $primary-text;
        background-color: rgb(72, 113, 149);

        &:hover {
            cursor: pointer;
            background-color: rgb(17, 78, 131);
        }


        @include tablet {
            // width: 15rem;
            padding: 0.75rem 2.5rem 0.75rem 2.5rem;
            border-radius: 0.5rem;
            
        }
    }

}