
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.modal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90vw;
    height: 70vh;
    background-color: rgb(194, 216, 236);
    // border: red solid 1px;
    z-index: 20;
    position: absolute;
    top: 200px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    padding: 2rem;
    border-radius: 1rem;

    // background-color: rgba(0, 0, 0, 0.2);
    // width: 100vw;
    // height: 100vh;
    // z-index: 0;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // position: absolute;


    transition: ease all 0.2s;



















    &__close {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        // margin-top: 2rem;


    }

    &__close-btn {
        padding: 0.25rem 1rem 0.25rem 1rem;
        width: 10rem;
        border: none;
        // background-color: rgb(59, 99, 134);
        cursor: pointer;

        @include tablet {
            // width: 15rem;
            padding: 0.75rem 2.5rem 0.75rem 2.5rem;
            border-radius: 0.5rem;
        }
    }

}