
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.modal {

    width: 80vw;
    height: 60vh;
    background-color: rgb(194, 216, 236);
    // border: red solid 1px;
    z-index: 20;
    position: fixed;
    top: 200px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    padding: 2rem;
    border-radius: 1rem;

    // background-color: rgba(0, 0, 0, 0.2);
    // width: 100vw;
    // height: 100vh;
    // z-index: 0;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // position: absolute;


    transition: ease all 3s;

}