
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.navbar {
  
    background-color: $primary-background;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    padding: 0 1.5rem 0 1.5rem;
    transition: ease-out 0.25s all;
    // add here
    position: fixed;
    width: 100%;
    z-index: 999;


    &--mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
   
        background-color: $primary-background;
        width: 100vw;
        height: 100vh;
        transition: ease-out 0.25s all;
        z-index: 999;

        @include tablet {
            // position: sticky;

        }
        
    }

    @include tablet {
        justify-content: center;
        // height: 6rem;
    }

    @include desktop {
        // height: 8rem;
    }

    &__list {

        display: none;

        @include tablet {
            width: 100%;
            display: flex;
            list-style: none;
            justify-content: center;
            gap: 5rem;
        }
        
        @include desktop {
            justify-content: center;
            gap: 5rem;
        }

        &--mobile {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;

            @include tablet {
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
        
    }

    &__item {

        display: flex;

    }

    &__link {
        text-decoration: none;
        color: $primary-text;
        transition: ease-out 0.5s all;
        font-size: 2rem;

        @include tablet {
            font-size: 1.5rem;
        }
        
        &:hover {
            color: rgb(5, 65, 72);
            background-color: $primary-text;
            padding: 0.15rem 1rem 0.15rem 1rem;
            font-weight: 900;
            border-radius: 0.25rem;
        }

        &--active {

            border-bottom: $primary-text 2px solid;
            padding-bottom: 1rem 0rem 1rem 0rem;

            &:hover {
                background-color: $primary-background;
                color: $primary-text;
                padding: 0;
                font-weight: 500;
                border-radius: 0rem;
            }
        }
    }

    &__button {

        color: $primary-text;
        border: none;
        cursor: pointer;
        background: none;
        display: flex;

        @include tablet {
            display: none;
        }

        svg {
            font-size: 3rem;
            transition: font-size 0.5s;
            &:hover {
                font-size: 3.5rem;
               
            }
        }

        &--mobile {
            position: absolute;
            top: 2%;
            
        }
    }

}