@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.experience {
    // background-color: $background-third;
    background-color: #909090;
    padding-top: 4rem;

    @include tablet {
        padding-top: 6rem;
    }
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    float: left;
    padding: 0.8em 0;
    opacity: 0;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    color: $primary-background;
}






