@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.experience {
    background-color: $background-third;
    padding-top: 6rem;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    width: 10rem;
    border-radius: 0.25rem;
    text-align: center;
    padding: 0.8em 1rem;
    opacity: .8; 
    background-color: antiquewhite;
    
}

.vertical-timeline-element-date {
    // border: red solid 1px;
    // left: auto;
    // right: 124%;
    // text-align: right;
    // display: flex;
    // justify-content: center;
    // color: red;
    
    text-align: center;
}

.vertical-timeline-element--left {
    border: red solid 1px;

    display: flex;
    justify-content: center;
    text-align: center;
}