
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.projects {
    background-color: $background-third;
    // border: green 1px solid;
    width: 100%;
    // padding: 2.25rem;
    padding: 2.25rem 2.25rem;
    
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
       
        gap: 2rem;

        @include tablet {
            padding: 6rem;
            flex-direction: row;
            overflow-y: hidden;
            
        }

        @include desktop {
            padding: 8rem;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

