
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.projects {
    // background: linear-gradient(90deg, rgb(186, 195, 196) 0%, rgb(75, 99, 100) 84%);

    perspective: 1000px;
    perspective-origin: center center;
    // height: 100vh;
    background-color: $background-third;
    // border: green 1px solid;
    width: 100%;
    // padding: 2.25rem;
    padding: 10rem 2.5rem 6rem 2.5rem;
    // border-bottom: darkcyan solid 1px;

    &__heading {
        text-align: center;
        color: $primary-background;
        font-size: 6vw;
        margin-bottom: 4rem;

        @include tablet {
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }
    }
    
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        // perspective: 1000px;
        // perspective-origin: center center;

        @include tablet {

            // padding: 0rem 6rem 2rem 6rem;
            // flex-direction: row;
            // overflow-y: hidden;

            padding: 0rem 2rem 2rem 2rem;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            // overflow-y: hidden;
            
        }

        @include desktop {
            padding: 0rem 6rem 3rem 6rem;
            // flex-wrap: wrap;
            // justify-content: center;
        }
    }
}

